@{
    ViewData["Title"] = "Accès refusé";
}
<br />
<h2 style="color: red; text-align: center;font-weight: bold;">Accès refusé</h2>

<br>
<br>
<br>
<h2 style="text-align: center; font-weight: bold;">Vous n’avez pas les droits pour accéder à cette page.</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
